<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Yucando</title>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/styles/style.css" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!--- NOT ALL OF THIS IS NECESSARY -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">


  <!-- Latest compiled JavaScript -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <!-- Allow touch zooming in mobile devices via bootstrap -->
  <meta name="viewport" content="width=device-width, initial-scale=1"> 

  <link rel="stylesheet" href="/styles/custom.css">
  <script src="/js/time.js" ></script>
  <script src="/js/login.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Yucando</a>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Page 1</a></li>
          <li><a href="#">Page 2</a></li>
          <li><a href="#">Page 3</a></li>
        </ul>
      </div>
    </div>
  </nav>
  
  <!-- login form -->
  <div ng-hide="jwt_is_valid" class = "container">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-login" >
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <a href="#" class="active" id="login-form-link">Login</a>
            </div>
            <div class="col-xs-6">
              <a href="#" id="register-form-link">Register</a>
            </div>
          </div>
          <hr>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <form id="login-form" ng-submit="login()" method="post" role="form" style="display: block;">
                <div class="form-group">
                  <input type="text" ng-model="username" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
                </div>
                <div class="form-group">
                  <input type="password" ng-model="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
                </div>
                <div class="form-group text-center">
                  <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                  <label for="remember"> Remember Me</label>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="text-center">
                        <a href="/user/recover_password" tabindex="5" class="forgot-password">Forgot Password?</a>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <form id="register-form" action="/user/register" method="post" role="form" style="display: none;">
                <div class="form-group">
                  <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
                </div>
                <div class="form-group">
                  <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="">
                </div>
                <div class="form-group">
                  <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
                </div>
                <div class="form-group">
                  <input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password">
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /login form -->
  
  <div ng-show="jwt_is_valid" class = "container">
    <div class = "row border-between">
      <!-- left-panel -->
      <div class = "col-md-3">
        <h2>Projects Pane</h2>
      </div> 
      <!-- /col-md-6 -->
      
      <!-- middle panel -->
      <div class = "col-md-6">
        <h2>Tasks Pane</h2>
        <div>
        <button ng-click="areTimestampsShowing = !areTimestampsShowing">Toggle Timestamps</button>

        <!--{{ firstName + " " + lastName }} is welcome here.-->
          <ul>
            <li ng-repeat="task in tasks">
              {{task.name}} - {{task.timeEstimate - task.totalTime | secondsToDateTime | date:'HH:mm:ss'}} left to go! ({{100* task.totalTime / task.timeEstimate | number : 2}}% complete)
              <ul>
                <li ng-show = "areTimestampsShowing" ng-repeat="punch in task.punches">
                  {{punch.in}} - {{punch.out}} -- {{punch.duration}}
                </li>
                <button ng-class="task.isActive ? 'tracking-on' : 'tracking-off'" ng-click="punch(task._id)">Punch</button>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <!-- /middle panel -->

      <!-- right panel -->
      <div class = "col-md-3">
        <h2>Social Pane</h2>
      </div>
      <!-- /right panel -->
      
    </div> <!-- /row -->
  </div> <!-- /contaier -->

  <footer>
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-collapse collapse" id="footer-body">
                <ul class="nav navbar-nav">
                    <li><a href="#">Browse Our Library</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Our Partners</a></li>
                    <li><a href="#">User Review</a></li>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
          	<div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#footer-body">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <ul class="footer-bar-btns visible-xs">
                    <li><a href="#" class="btn" title="History"><i class="fa fa-2x fa-clock-o blue-text"></i></a></li>
                    <li><a href="#" class="btn" title="Favourites"><i class="fa fa-2x fa-star yellow-text"></i></a></li>
                    <li><a href="#" class="btn" title="Subscriptions"><i class="fa fa-2x fa-rss-square orange-text"></i></a></li>
                </ul>
            </div>

        </div>
    </div>
  </footer>
</body>

</html>
