<div class="col-md-6 col-md-offset-3">
<h1>API</h1>
<p>
  You can interface with Yucando programmatically through our REST API. The documentation is shown below.
  You will need to authenticate each request using either a username:password combination, or you will need
  to attach a TOKEN *jwt* to your request.
</p>

<p>Your jwt is:</p>
<textarea cols="80" rows="3" style='font-family:"Lucida Console", Monaco, monospace' ng-bind="jwt" placeholder="This is empty until you login"></textarea>
</p>

<h2>Endpoints</h2>

<p>
  <form id="login-form" ng-submit="get_task_id_submit()" >
    GET /task/id/<input type="text" ng-model="get_task_id" placeholder=":id" /><input type="submit" text="submit">
  </form>
</p>
<p>
  Return task with specified Mongo ID
</p>

<textarea ng-bind="get_task_id_response" rows="6" cols="80" style='font-family:"Lucida Console", Monaco, monospace'>A big load of text</textarea>

<hr>

<p>
  GET /task/points/<input type="text" placeholder=":points" />
</p>
<p>
  Return all tasks with given number of points
</p>

<hr>

<p>
  GET /task/project/<input type="text" placeholder=":project" />
</p>
<p>
  Return all tasks in a given project name, where project name is a string
</p>

<hr>

<p>
  GET /task/time_min/<input type="text" placeholder=":seconds" />
</p>
<p>
  Return all tasks with durations longer than time_min in seconds
</p>

<hr>

<p>
  GET /task/time_max/<input type="text" placeholder=":seconds" />
</p>
<p>
  Return all tasks with durations shorter than time_max in seconds
</p>

<hr>

<p>
  <form id="login-form" ng-submit="delete_task_submit()" >
    DELETE /task/<input type="text" placeholder=":id" ng-model="delete_task_id"/><input type="submit" text="submit">
  </form> 
</p>
<p>
  Delete all tasks with Mongo ID
</p>
<textarea ng-bind="delete_task_response" rows="6" cols="80" style='font-family:"Lucida Console", Monaco, monospace'>A big load of text</textarea>

<hr>

<h2>Deferred methods</h2>

<p>
  <form id="login-form" ng-submit="put_task_submit()" >
    PUT /task/<input type="text" ng-model="put_task_name" placeholder=":name" />
    <input type="submit" text="submit" />
  </form>
</p>
<p>
  Create a task with task name
</p>

<textarea ng-bind="put_task_response" rows="6" cols="80" style='font-family:"Lucida Console", Monaco, monospace'>A big load of text</textarea>


<hr>


<p>
  <form id="login-form" ng-submit="task_submit()" >
    GET /task <input type="submit" text="submit" />
  </form>
</p>
<p>
  Return all tasks as JSON array
</p>

<textarea ng-bind="task_response" rows="6" cols="80" style='font-family:"Lucida Console", Monaco, monospace'>A big load of text</textarea>


<hr>

<p>
  POST /task
</p>
<p>
  Create a new task, return created record in JSON array
</p>

<h2>Authentication</h2>
</div>
