<!-- login form -->
<div class="col-md-12">
  <div ng-hide="jwt_is_set" class = "container">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-login" >
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <span class="active" id="login-form-link">Login</span>
            </div>
            <div class="col-xs-6">
              <span id="register-form-link">Register</span>
            </div>
          </div>
          <hr>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <form id="login-form" ng-submit="login()" method="post" role="form" style="display: block;">
                <div class="form-group">
                  <input type="text" ng-model="username" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
                </div>
                <div class="form-group">
                  <input type="password" ng-model="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
                </div>
                <div class="form group">
                  <p ng-bind="loginError"></p>
                </div>
                <div class="form-group text-center">
                  <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                  <label for="remember"> Remember Me</label>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In" >
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="text-center">
                        <a href="/user/recover_password" tabindex="5" class="forgot-password">Forgot Password?</a>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <form id="register-form" ng-submit="register()" method="post" role="form" style="display: none;">
                <div class="form-group">
                  <input type="text" ng-model="registerUsername" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
                </div>
                <div class="form-group">
                  <input type="text" ng-model="registerFirstName" id="email" tabindex="1" class="form-control" placeholder="First Name" value="">
                </div>
                <div class="form-group">
                  <input type="text" ng-model="registerLastName" id="email" tabindex="1" class="form-control" placeholder="Last Name" value="">
                </div>
                <div class="form-group">
                  <input type="email" ng-model="registerEmail" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="">
                </div>
                <div class="form-group">
                  <input type="password" ng-model="registerPassword" id="password" tabindex="2" class="form-control" placeholder="Password">
                </div>
                <div class="form-group">
                  <input type="password" ng-model="registerPasswordCheck" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password">
                </div>
                <div>
                  <p ng-bind="registerError"></p>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /login form -->

<div class="col-md-12">
<div ng-show="jwt_is_set" class = "container">
  <div>
    <!-- left-panel -->
    <div class = "col-md-3">
      <h2>Projects Pane</h2>
      <ul>
        <li><a href="#home">Senior Design Project</a></li>
        <li><a href="#home">Programming yucando.it</a></li>
        <li><a href="#home">Grad School Applications</a></li>
        <li><a href="#home">Solve Turbulent Flow</a></li>
      </ul>
    </div> 
    <!-- /col-md-6 -->
    
    <!-- middle panel -->
    <div class = "col-md-6">
      <h2>Tasks Pane</h2>
      <div>
        <!-- Create task form -->
        <form id="login-form" ng-submit="createTask()" method="post" role="form" style="display: block;">
          <div class="form-group">
            <input type="text" ng-model="name" name="name" id="name" tabindex="1" class="form-control" placeholder="Task name" value="">
          </div>
          <div class="form-group">
            <input type="text" ng-model="timeEstimate" name="timeEstimate" id="timeEstimate" tabindex="2" class="form-control" placeholder="Estimated time in seconds">
          </div>
          <div>
            <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Create Task">
          </div>
        </form>
        <!-- /create task form -->
      <button ng-click="areTimestampsShowing = !areTimestampsShowing">Toggle Timestamps</button>
      <button ng-click="areCompletedsShowing = !areCompletedsShowing">Toggle Completed Tasks</button>

      <!--{{ firstName + " " + lastName }} is welcome here.-->
        <ul>
          <li ng-repeat="task in tasks" ng-show = "task.isIncomplete || areCompletedsShowing">
            {{task.name}} - {{(task.timeEstimate - task.totalTime ) | secondsToDateTime}}  ({{100* task.totalTime / task.timeEstimate | number : 2}}% complete)
            <ul>
              <li ng-show = "areTimestampsShowing" ng-repeat="punch in task.punches">
                {{punch.in}} - {{punch.out}} -- {{punch.duration}}
              </li>
              <button ng-class="task.isActive ? 'tracking-on' : 'tracking-off'" ng-click="punch(task._id)">Punch</button>
              <button ng-click="complete(task._id)">Complete</button>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <!-- /middle panel -->

    <!-- right panel -->
    <div class = "col-md-3">
      <h2>Social Pane</h2>
      <form id="chat-broadcast" ng-submit="sendChatMessage()">
        <input type="text" placeholder="Send chat message" ng-model="myMsg"/>
        <input type="submit" value="send">
      </form>
      <ul id="messages">
        <li ng-repeat="item in feed track by $index">
          <b>{{item.username}}:</b> {{item.message}} <br/>
          {{item.timestamp}}
        </li>
      </ul>
    </div>
    <!-- /right panel -->
    
  </div> <!-- /row -->
</div> <!-- /contaier -->
</div>
