<!-- login form -->
<div class="col-md-12">
  <div ng-hide="jwt_is_set" class = "container">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-login" >
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <span class="active" id="login-form-link">Login</span>
            </div>
            <div class="col-xs-6">
              <span id="register-form-link">Register</span>
            </div>
          </div>
          <hr>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <form id="login-form" ng-submit="login()" method="post" role="form" style="display: block;">
                <div class="form-group">
                  <input type="text" ng-model="username" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
                </div>
                <div class="form-group">
                  <input type="password" ng-model="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
                </div>
                <div class="form group">
                  <p ng-bind="loginError"></p>
                </div>
                <div class="form-group text-center">
                  <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                  <label for="remember"> Remember Me</label>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In" >
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="text-center">
                        <a href="/user/recover_password" tabindex="5" class="forgot-password">Forgot Password?</a>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <form id="register-form" ng-submit="register()" method="post" role="form" style="display: none;">
                <div class="form-group">
                  <input type="text" ng-model="registerUsername" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
                </div>
                <div class="form-group">
                  <input type="text" ng-model="registerFirstName" id="email" tabindex="1" class="form-control" placeholder="First Name" value="">
                </div>
                <div class="form-group">
                  <input type="text" ng-model="registerLastName" id="email" tabindex="1" class="form-control" placeholder="Last Name" value="">
                </div>
                <div class="form-group">
                  <input type="email" ng-model="registerEmail" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="">
                </div>
                <div class="form-group">
                  <input type="password" ng-model="registerPassword" id="password" tabindex="2" class="form-control" placeholder="Password">
                </div>
                <div class="form-group">
                  <input type="password" ng-model="registerPasswordCheck" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password">
                </div>
                <div>
                  <p ng-bind="registerError"></p>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /login form -->

<div class="col-md-12">
<div ng-show="jwt_is_set" class = "container">
  <div>
    <!-- left-panel -->

    <div class = "col-md-3">
      <p>Filter by tags</p>
      <hr>
      <ul>
        <li ng-repeat="tag in tagList"><a href="#home" ng-click="updateTaskVisibility(tag.tagName)">{{tag.tagName}}</a></li>
      </ul>
    </div> 
    <!-- /col-md-6 -->
    
    <!-- middle panel -->
    <div class = "col-md-6">
      <div ng-show="isAddTask">
        <!-- Create task form -->
        <form id="login-form" ng-submit="createTask()" method="post" role="form" style="display: block;">
          <div class="form-group">
            <input type="text" ng-model="taskname" name="taskname" id="name" tabindex="1" class="form-control" placeholder="task name" value="">
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-5">
                <input type="text" ng-model="timeEstimate" name="timeEstimate" id="timeEstimate" tabindex="2" class="form-control" placeholder="time estimate (seconds)">
              </div>
              <div class="col-sm-2">
                <input type="text" ng-model="points" name="points" id="points" tabindex="3" class="form-control" placeholder="points">
              </div>
              <div class="col-sm-5">
                <input type="text" ng-model="tags" name="tags" id="tags" tabindex="4" class="form-control" placeholder="tags, separated by commas">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-12">
                <input type="text" rows="4" ng-model="notes" name="notes" id="notes" tabindex="5" class="form-control" placeholder="notes">
              </div>
            </div>
          </div>
          <div>
            <div class="row">
              <div class="col-sm-6">
                <input type="submit" ng-click="isAddTask=false" name="create-task-submit" id="create-task-submit" tabindex="4" class="form-control btn btn-login" value="Create Task">
              </div>
        </form>
              <div class="col-sm-6">
                <button ng-click="isAddTask=false" tabindex="5" class="form-control btn btn-login">Cancel</button>
              </div>
            </div>
          </div>
        <!-- /create task form -->
      <!-- <button ng-click="areTimestampsShowing = !areTimestampsShowing">Toggle Timestamps</button> -->

      
      </div>
      <div ng-hide="isAddTask">
        <div align=center>
          <button ng-click="isAddTask = true">Add a task</button>
          <button ng-click="areCompletedsShowing = !areCompletedsShowing">Toggle Completed Tasks</button>
        </div>
        <hr>





        <ul class="tasks">
          <li ng-repeat="task in tasks" ng-show = "task.isVisible && (task.isIncomplete || areCompletedsShowing)" ng-mouseover="task.isExpanded=true" ng-mouseout="task.isExpanded=false">        
            <div class="row row-negative-bottom-margin">
              <div class="col-sm-6"><b>{{task.taskname}}</b></div>
              <div class="col-sm-6">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow={{task.percentage}}
                  aria-valuemin="0" aria-valuemax="100" style={{progressBar(task.percentage)}}>{{task.percentage}}%
                  </div>
                </div>
              </div> 
            </div>
            <div class="row row-bottom-margin" ng-show="task.isExpanded">
              <div class="col-sm-6"><i>{{arrayToString(task.tags)}}</i></div>
              <div class="col-sm-6">Time out of total</div>
            </div>
            
            <div class="row row-bottom-margin" ng-show="task.isExpanded">
              <!--{{(task.timeEstimate - task.totalTime ) | secondsToDateTime}}  ({{100* task.totalTime / task.timeEstimate | number : 2}}% complete) -->
              <div class="col-sm-6"><button ng-class="task.isActive ? 'tracking-on' : 'tracking-off'" ng-click="punch(task._id)">Punch</button></div>
              <div class="col-sm-6">Points: {{task.points}}<button ng-click="complete(task._id)">Complete</button></div>
           </div>
           <div class="row row-bottom-margin" ng-show="task.isExpanded">
             <div class="col-sm-12">{{task.notes}}</div>
           </div>
            <!-- <br/>{{task.notes}} -->
            <!-- <ul> --> 
            <!--  <li ng-show = "areTimestampsShowing" ng-repeat="punch in task.punches">
                {{punch.in}} - {{punch.out}} -- {{punch.duration}}
              </li> -->
               
            <!--   -->
            <!-- </ul> -->
          </li>
        </ul>
      </div>
    </div>
    <!-- /middle panel -->

    <!-- right panel -->
    <div class = "col-md-3">
      <form id="chat-broadcast" ng-submit="sendChatMessage()">
        <input type="text" placeholder="Send chat message" ng-model="myMsg"/>
        <input type="submit" value="send">
      </form>
      <ul id="messages">
        <li ng-repeat="item in feed track by $index">
          <b>{{item.username}}:</b> {{item.message}} <br/>
          {{item.timestamp | feedTime }}
        </li>
      </ul>
    </div>
    <!-- /right panel -->
    
  </div> <!-- /row -->
</div> <!-- /contaier -->
</div>
